[submodule "lib/OpenZeppelin/openzeppelin-contracts@4.8.3"]
	path = contracts/lib/OpenZeppelin/openzeppelin-contracts@4.8.3
	url = https://github.com/OpenZeppelin/openzeppelin-contracts.git
[submodule "lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
